*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

main{
    display: flex;
    justify-content: center;
}
.Actualizar_Eliminar{
    width: 400px;
    margin: 30px auto 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .Actualizar_Eliminar h1{
    text-align: center;
  }
  
  .contenedor-input-registrarse {
    margin-bottom: 15px;
  }
  
  .contenedor-input-registrarse label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contenedor-input-registrarse input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .req {
    color: red;
  }
  
  .button-registro {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #183D3D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-registro:hover {
    background-color: #5C8374;
  }

  nav{
    background: #183D3D;
    height: 80px;
    width: 100%;
    margin-bottom: 45px;
  }
  .enlace{
    position: absolute;
    padding: 10px 50px;
  }
  .logo{
    height: 60px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  li a.active, li a:hover{
    background: #ffffff;
    transition: .5s;
    color: black;
  }
  .checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  
  }




  footer {
    display: flex;
    justify-content: center;
    background: #183D3D;
    height: 50px;
    width: 100%;
    padding: 20px 0;
    color: white;
  }
  .footer-content {
    font-size: 16px;
  }

  @media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5C8374;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(0, 0, 0);
    }
    #check:checked ~ ul{
        left:0;
    }
  }